h3 {
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}

.StockWatchLabel {
    font-weight: bold;
    font-size: 1.2rem;
    float: left;
}

.addStock-btn {
    float: right;
    margin-top: 10px;
}

.StockErr {
    color: red;
}